<header>
    <div class="container-fluid" id="title">
        <h1 class="justify-content-center">{{title}}</h1>
    </div>

    <div class="container-fluid justify-content-center">
        <nav class="navbar navbar-expand-lg navbar-light " style="background-color:#ffe5ed">

            <a href="/" class="  btn btn-pill btn-light navbar-brand {{isHomeActive}} mt-1 " role="button"
               aria-pressed="true">
                <i data-feather="home"></i></a>

            <a href="/submission/view_all_submission_for_public"
               class="btn btn-pill btn-light navbar-brand {{isViewAllSubmissionsForPublicActive}} text-center mt-1"
               role="button"
               aria-pressed="true">
                View All Artwork</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active justify-content-center ">
                {{#unless loggedIn}}
                    <li></li>
                    <a href="/users/register"
                       class=" btn btn-pill btn-light nav-brand {{isRegisterActive}} mt-1  " role="button"
                       aria-pressed="true"> Register</a>
                    <li></li>
                    <a href="/users/login"
                       class="btn btn-pill btn-light nav-brand  {{isLoginActive}}  mt-1" role="button"
                       aria-pressed="true"> Login</a>
                {{else}}

                    <div class="row d-md-block">  </li>
                </ul>

                    <a href="/submission/add"
                       class="col-md-2 btn btn-pill btn-light nav-brand mt-1 {{isAddSubmissionActive}}"
                       role="button" aria-pressed="true"> Add Submission</a>
                    <li></li>
                    <a href="/submission/view_all_submissions_reg_user"
                       class="col-md-2 btn btn-pill btn-light nav-brand mt-1 {{isViewAllSubmissionsForPublicActive}}"
                       role="button"
                       aria-pressed="true"> View Your Submissions</a>
                    <li></li>
                    <a href="/users/my_profile" class="col-md-2 btn btn-pill btn-ghost-light nav-brand  mt-1"
                       role="button"
                       aria-pressed="true"> Hi, {{currentUser.name.first}}!</a>
                    <li></li>
                    <a href="/users/logout" class="col-md-2 btn btn-pill btn-light nav-brand mt-1 " role="button"
                       aria-pressed="true"> Log Out</a>

                {{/unless}}

            </div>
    </div>
    </nav>
    </div>

</header>
