
<header>
    <div class ="navbar">
<h3>{{descriptionTitle}}</h3>
<p>{{descriptionBody}}</p>
<p>Key:{{descriptionKey}}</p>
<hr/>
<p>
    <span> <a href="/description/destroy?key={{descriptionKey}}"> Delete Description</a></span>
    <span> <a href="/description/edit?key={{descriptionKey}}"> Edit Description</a></span>
</p>
    </div>
</header>