


    <div class="row ">
        <div class ="col-10 col-md-20 btn-group  " role="group">


            {{#each descriptionList}}

            <div class="container-md">
                <div class="row ">

                <div class="cols col-sm">
                   <h2> Art name:   </h2>
                    <h3> {{title}}</h3>
                    <h2>  Artist: </h2>

                {{artist}}
                <a class="mt-3 btn btn-lg btn-block btn-outline-dark" href="/description/view?id={{id}}">  Click here to view the author's description</a>
                </div>
                </div>
            </div>

            {{/each}}

        </div>
    </div>

<!--<div class="container-fluid" >-->
<!--    <div class="carousel-inner">-->
<!--        {{#each descriptionList}}-->
<!--         <div class="item {{#if @first}} active {{/if}}"-->


<!--        {{/each}}-->
<!--    </div>-->


<!--</div>-->







<!--<div class="container-fluid">-->
<!--    <div class="row row-col-8 justify-content-center">-->
<!--        <div class ="col-8 col-md-5 btn-group-vertical" role="groupp">-->
<!--            -->
<!--            -->
<!--            {{#each descriptionList}}-->
<!--            -->
<!--                <div class = "container-fluid justify-content-center">-->
<!--                <h2> Art name:   </h2>-->
<!--                <h3> {{title}}</h3>-->
<!--                <h2>  Artist: </h2>-->
<!--                </div>-->
<!--                {{artist}}-->
<!--                <a class="mt-3 btn btn-lg btn-block btn-outline-dark"-->

<!--                   href="/description/view?key= {{key}}">  Click here to view the author's description</a>-->
<!--               -->
<!--            {{/each}}-->

<!--        </div>-->
<!--    </div>-->

<!--</div>-->


