
<div class="container-fluid">
    <div class ="row justify-content-center mt-2">
       <h2>  Art's Title: </h2>
    </div>


    <div class ="row justify-content-center mb-4">
        <h3>  {{descriptionTitle}}</h3>
    </div>


    <div class ="row justify-content-center mt-5">
       <h2> Artist's Name: {{descriptionArtist}}</h2>
    </div>

    <div class ="row justify-content-center mt-2 ">
        <h3>{{descriptionArtist}}</h3>
    </div>
    <div class ="row justify-content-center mt-5 mb-2">
        <h2> Artist's description for their art: </h2>
    </div>
    <div class ="row justify-content-center mb-2">
            <h1> {{descriptionBody}}</h1>
    </div>
    <nav class="navbar navbar-light justify-content-center mt-2" style="background-color:#ffe5ed">
        <span> <a class="nav-item nav-link active" href="/description/destroy?id={{descriptionID}}"> Delete Submission  </a></span>

        <span> <a class="nav-item nav-link active" href="/description/edit?id={{descriptionID}}"> Edit Submission</a></span>


    </nav>
</div>

</div>








