<div class="container-fluid">

    <div class ="row justify-content-center mt-2">
        <h2>  Art's Title: </h2>
    </div>
    <div class ="row justify-content-center mb-4">
        <h3>  {{submissionTitle}}</h3>
    </div>
    <div class ="row justify-content-center mt-2">
        <h2>  Art: </h2>
    </div>
    <div class ="row justify-content-center mb-4">
        <h3>  {{submissionArtFile}}</h3>
    </div>


    <div class ="row justify-content-center mt-5">
        <h2> Artist's Name: {{submissionArtist}}</h2>
    </div>
    <div class ="row justify-content-center mt-2 ">
        <h3>{{submissionArtist}}</h3>
    </div>
    <div class ="row justify-content-center mt-5 mb-2">
        <h2> Artist's description for their art: </h2>
    </div>
    <div class ="row justify-content-center mb-2">
        <h1> {{submissionBody}}</h1>
    </div>
    <div class="one">
        <a href="/submission/view_all_submission_for_public?id={{submissionID}}"
        class="btn btn-pill btn-outline-dark navbar-brand  text-center mt-1"
        role="button"
        aria-pressed="true">
        Back</a>
    </div>
</div>


</div>





